################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Activitate_POO2024/.vs/Activitate_POO2024
